/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazir.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Vazir; }
* { direction: rtl; text-align: right;}

.card { box-shadow: 3px 0 20px 8px #ccc; }
table { font-size: .85rem; }

/* Slide Toggle (Checkbox) Styling */

.slide-toggle {
    position: relative;
    width: 56px;
    height: 28px;
    appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .25s;
}

.slide-toggle:checked { background: #03a9f4; }

    .slide-toggle:before {
    content: '';
    position: absolute;
    width: 28px;
    height:28px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .25s;
}

.slide-toggle:checked:before { left: 28px; }

.slide-toggle:hover { cursor: pointer; }

.btn-sm {
    padding: .22rem 1rem;
    border-radius: 20px;
}
