<div class="card">
  <div class="card-header">
    محصولات
  </div>
  <div class="card-body">
    <div class="mb-3">
      <button class="btn btn-primary ml-2" (click)="openModal()">
        جدید
        <i class="fas fa-plus mr-2"></i>
      </button>
      <button class="btn btn-secondary" (click)="toggleSearch()">
        جستجو
        <i class="fas fa-search mr-2"></i>
      </button>
    </div>
    <app-data-table
      [data]="products"
      [columns]="columns"
      [searchField]="showSearchField"
      [loading]="loading"
      [sorting]="sorting"
      [loadingFailed]="loadingFailed"
      (editItem)="openModal($event)"
      (removeItem)="onRemoveProduct($event)"
      (activeChanged)="onActiveDeactive($event)"
      (paramsChanged)="paramsChanged()">
    </app-data-table>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
