<div class="d-flex w-100 justify-content-between align-items-center">
  <div class="d-flex">
    <p class="ml-1 align-self-center">تعداد نمایش:</p>
    <mat-form-field appearance="fill">
      <mat-select [(value)]="pagingParams.pageSize" (valueChange)="pageSizeChanged()">
        <mat-option *ngFor="let opt of pageSizes" [value]="opt" style="font-family: Vazir">{{ opt }}</mat-option>
        <!-- <mat-option value="10" style="font-family: Vazir">10</mat-option>
        <mat-option value="15" style="font-family: Vazir">20</mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>
  <ul class="pagination" style="direction: ltr;">
    <li class="page-item" [ngClass]="{disabled: numberOfPages === pagingParams.pageNumber}">
      <a class="page-link" (click)="pageNumberChange(0)">بعدی</a>
    </li>
    <li class="page-item" *ngFor="let num of pages.slice().reverse()" [ngClass]="{'active': pagingParams.pageNumber === num}">
      <a class="page-link active" (click)="pageNumberChange(num)">{{num}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: pagingParams.pageNumber === 1}">
      <a class="page-link" (click)="pageNumberChange(-1)">قبلی</a>
    </li>
  </ul>
  <p>
    نمایش <span>{{ pagingParams.pageSize * (this.pagingParams.pageNumber - 1) + 1}}</span>
    تا {{lastItemInPage}} از <span>{{ pagingParams.count }}</span> مورد
  </p>
</div>
