<div class="d-flex w-100 justify-content-between align-items-center">
  <div class="d-flex">
    <p class="ml-1 align-self-center">تعداد نمایش:</p>
    <mat-form-field appearance="fill">
      <!-- <mat-label>5</mat-label> -->
      <mat-select value="5" id="drpItemsPerPage">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="15">20</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ul class="pagination" style="direction: ltr;">
    <li class="page-item"><a class="page-link" href="#">بعدی</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">قبلی</a></li>
  </ul>
  <p>
    نمایش <span>5</span> مورد از <span>20</span>
  </p>
</div>
